body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: #eee9da;
}
/*----------header tag --------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #205e61;
  color: black;
}
h1 {
  font-size: 200%;
}
/*------------navigation bar------------*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: rgb(15, 15, 15);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #ad1515;
}

/*------------main------------*/
main {
  display: flex;
  flex: 1 1 0;
  max-width: 85%;
  margin: 2% auto;
}

h2 {
  margin: 2% 0;
  font-size: 150%;
}

.about-me {
  padding: 30px;
  border: 1px solid #1b1b1b;
}

.about-para {
  margin: 1% 0;
  font-size: 110%;
}

.about-me img {
  border-radius: 50%;
  width: 150px;
}

.work-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work-frame {
  flex: 0 1 30%;
  border: 1px solid black;
  min-height: 200px;
  margin-bottom: 45px;
}

.work-frame p {
  margin-left: 20px;
}
.work-title {
  position: relative;
  color: red;
  padding-left: 10px;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 2%;
}

.contact {
  display: flex;
  justify-content: center;

  background-color: #205e61;
  padding: 2%;
  font-size: 20px;
  border: 1px solid black;
}
.info {
  padding: 1%;
}

.contact .info {
  display: none;
}

.contact:hover .info {
  display: block;
}
